body{
  background-image: url("picture/background_img.png");
  /* transition: .6s sease;
  animation: change 10s infinite; */

 }
 /*@keyframes change{
 0%  { background-color:#1a1919}
 25% { background-color:#be000e}
 50% { background-color:#f6f4f2}
 75% { background-color:#002b6c}
 100%{ background-color:#011e2e}
} */

.contanier{
 width: 70%;
 height: 700px;
background-image: url("picture/CombadFace.png");
 margin-left: 200px;
 margin-top: 100px;
 border: solid 5px ;
 position: relative;
}

.playerHub{
  position: absolute;
  height: 150px;
  width: 100%;
  background:linear-gradient(to bottom left, #669999 19%, #999966 86%);
  bottom: 0;
  border-top: 3px solid;
  display: flex;
}

.spellTap{
  height: 100%;
  width: 50%;

}

.playerHub .spellTap  button{
width: 50%;
height: 50%;
float: right;
background-color:tan;
border: solid 2px;
font-size: 20px;
}

.playerHub .spellTap button:hover{
background-color: snow;

}
.faceOff {
display: flex;
margin-top: 120px;
position: relative;
}

#msgToPlayerAttacked{
  background-color: brown;
  width: 500px;
  font-size: 20px;

}
#enemy-hp{
  background-color: red;
  font-size: 15px;
}
.enemyHPBar{
margin-left: 100px;
font-size: 20px;
height: 50px;
position: absolute;
bottom: 0;
width: 150px;

}
.enermy{
background-repeat: no-repeat;
display: inline-flex;
height: 350px;
width: 280px;
background-image: url('picture/Bash_bransh_monster.gif');
margin-left: 220px;
}




#msgToPlayerAttack{
background-color: saddlebrown;
width: 600px;
font-size: 20px;

}
.playerImg{
float: right;
margin-top: 150px;
}
#player-hp{
font-size: 20px;
margin-top: 50px;
margin-left: 30px;
}
.player_HP_bar{
background-image: url("picture/heart.png");
margin-bottom: 30px;
display: inline-flex;
height: 140px;
width: 160px;
text-align: center;
float: right;
background-repeat: no-repeat;
}
#player{
height: 280px;
width: 280px;

margin-left: 120px;
}
