body{
 font-family:MedievalSharp;

 }

 button{
   font-family:MedievalSharp;
   font-weight: bolder;
   letter-spacing: 2px;
   background-color: lightgrey;
 }

 /* Character creation stats here--------------- */
#charCreateAndBattle {

  background-image: url("picture/background_img .png");
  min-height: 100%;
  min-width: 1500px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
 }

#charactersNameMeny{
background-color:#f7efd3;
margin-bottom: 40;
height:500px;
width: 400px;
margin-left: 40%;
margin-top: 100px;
border-radius: 15px 15px;
border: inset 10px #475c6c;
opacity: .9;
}
.logo{
font-family:MedievalSharp;
font-size: 50px;
font-weight:bolder;
margin-left: 26px;
margin-top: 80px;
color: #475c6c;
}
#inputName{
font-family: MedievalSharp;
font-weight:bold;
border-radius: 15px 15px;
width: 250px;
height: 30px;
text-align: center;
font-size: 18px;
border: inset #475c6c;
margin-top: 40px;
margin-left: 67px;
}

.menyButtonHolder  > button:hover {
  background-color: #475c6c
}
#charactersNameMeny  > button:hover {
  background-color: #475c6c
}
#createCharacter{
  height: 35px;
  width: auto;
  font-size: 15px;
  margin-left: 124px;
  margin-top: 30px;
  border: inset #475c6c;
}

/* The css make the button for loggout or play on and lodade save file */
.menyButtonHolder{

  display: flex;
  margin-top: 50px;
}

#charactersNameMeny .menyButtonHolder > button{
width: 100%;
border: outset #475c6c;
display: inline-table;
font-size: 15px;
height: 40px;
margin-left: 20px;
margin-right: 20px;
}



/* Select you hero -------*/
#charactersclassMeny{
width: 80%;
height: 700px;
background-color:#475c6c;
margin-left: 200px;
border: inset 8px;
 /* display: none; */
}
#selectedClass{
  margin-top: 30px;
  margin-left: 23%;
  font-weight: bolder;
  font-size: 30px;
  color: #f7efd3;
}

#selectedName{
font-size: 30px;
letter-spacing: 5px;
margin-left: 10%;
color: #f7efd3;
}

.showTheClasses{
  margin-top: 100px;
  display: flex;
}

.showTheClasses > div{
display:inline-flex;
margin-left: 14.6%;
border-bottom: inset 1px;;
}
.selectClassButtonRaper{
margin-top: 20px;
display: flex;
}

 .selectClassButtonRaper > button{
  display: inline-flex;
  width: 150px;
  letter-spacing: 10px;
  margin-left: 15.5%;
  font-size: 20px;
  border: inset 3px #f7efd3;
}
.selectClassButtonRaper > button:hover {
  background-color:	#cdb39a;
}
.startOrTown{
  margin-left: 100px;
}

#TownOrFight> button:hover {
  background-color: #cdb39a;
}

#TownOrFight > button{
  font-size: 20px;
  width: 200px;
  height: 50px;
  border: inset 3px #f7efd3;
  margin: 20px;
  margin-left: 23%;
  margin-top: 50px;
}

/* the playing background */
#contanierHidden{
width: 100%;
height: 700px;
background-image: url("picture/comBadbFace.jpg");
border: solid 5px;


}

/* The place were all the spells are -----------*/
.playerHub{
position: absolute;
height: 150px;
width: 100%;
background:linear-gradient(to bottom left, #669999 19%, #999966 86%);
bottom: 0;
border-top: 3px solid;
display: flex;
}

.spellTap{

  height: 100%;
  width: 50%;

}

.playerHub .spellTap   button{

width: 50%;
height: 50%;
float: right;
background-color:tan;
border-left: solid 2px;
border-right: solid 2px;
border-bottom: solid 2px;
font-size: 20px;
}

.playerHub .spellTap button:hover{
background-color: snow;

}
.spellTapInventory > * {
  width: 50%;
  height: 50%;
  float: right;
  background-color:tan;
  border: solid 2px;
  font-size: 20px;
}

/* The area there are standing face to face */
.faceOff {
display: flex;
margin-top: 120px;
position: relative;
}


/* everthing that have to do with the enemy */
#msgToPlayerAttacked{
  background-color: #613915;
  color: snow;
  border-top:  2px solid black;
  width: 500px;
  font-size: 15px;
}

#enemy-hp{

  font-size: 20px;
}
.enemyHPBar{
margin-left: 100px;
font-size: 20px;
height: 50px;
position: absolute;
bottom: 0;
width: 150px;

}
#enermy{
  float: left;
background-repeat: no-repeat;
display: inline-flex;
height: 350px;
width: 280px;
background-image: none;
margin-left: 470px;
margin-top: 30px;
}


#enermyMove{
  float: left;
  position: relative;
  background-repeat: no-repeat;
  display: inline-flex;
  height: 350px;
  width: 280px;
   background-image: none;
  margin-left: 470px;
  margin-top: 30px;
  animation-name: enemyAttack;
  animation-duration: 2s;
}


@keyframes enemyAttack{
  0%   { right:0px; top:0px;}
  /* 25%  {background-color:yellow; left:250px; } */
  50%  {right:600px; }
  75%  { right:0px;}
  100% {right: 0;}
}
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}

li{
  list-style: none;
}
.playerLvlUpCobatText{
  color: cadetblue;
}
.enemyCombatText{
  color:firebrick;
}
#verticalMenu{  margin-bottom: 0px;
  padding: 0px;
  width: 500px;
  height: 100%;
  border-left: solid black;
  background-color: #413126;
  overflow-y:scroll;
  color: snow;

}
/* players css ---------------------*/
#msgToPlayerAttack{
color: snow;

font-size: 20px;
}
#msgToPlayeradvancing{
  background-color: black;
  color: red;

}

#player{
height: 280px;
width: 280px;
margin-left: 120px;
position: relative;
/* animation-name: example; */
/* animation-duration:2s; */
}
#playerHurt{
height: 280px;
width: 280px;
margin-left: 120px;
position: relative;
animation-name: blink;
animation-duration:2s;
}

@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}

#playerMove{
height: 280px;
width: 280px;
margin-left: 120px;
position: relative;
animation-name: Attack;
animation-duration:1.5s;
}

@keyframes Attack {
  0%   { left:0px; top:0px;}
  /* 25%  {background-color:yellow; left:250px; } */
  50%  {left:600px; }
  75%  { left:0px;}
  100% {}
}

#playerImg{
float: right;
margin-top: 150px;

}

#player-hp{
font-size: 20px;
margin-top: 50px;
margin-left: 30px;
}
.player_HP_bar{
background-image: url("picture/heart.png");
margin-bottom: 30px;
display: inline-flex;
height: 140px;
width: 160px;
text-align: center;
float: right;
background-repeat: no-repeat;
}



#characterPortrait {
  background-image: url("picture/minsc.jpg");
  background-repeat: no-repeat, repeat;
  border: 1px solid black;
  height: 16em;
  width: 12.5em;
  display: inline-block

}
#exitButton {
  font-size: 2em;
}

#playerNav {
  margin: 0;
  display: none;
  background: lightgrey;
  display: grid;
  grid-template-columns: 15em auto 30em;
  grid-template-rows: auto;
  grid-template-areas:
  "left center right"
  "left center right"
  "left center right"

}

#playerHubNav {

  grid-area: left;
  border: 1px solid black;
}
#playerHubMain {


  grid-area: center;
  border: 1px solid black;
}

#playerHubMainBox1 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-area: middle;
  display: block;

}

#playerHubMainBox2 {
  grid-area: footer;
  text-align: center;
  border: 1px solid gray;
}

#playerHubInventoryBox {
  grid-area: right;
}
#playerHubInventoryBox *  {
  text-align: center;
}
#playerHubMain * {
  text-align: center;
}
#playerHubNav * {
  text-align: center;
}
#playerHubMainBox1 {
  text-align: center;

}
